<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
  </head>
  <body>

    <header>
      <div class="top-bar">
        <img class="logo" src="images/Epic-Games-Symbol.png">
        <h3>STORE</h3>
        <h4>Support</h4>
        <h4>Distribute</h4>
        <i class="bi bi-globe"></i>
        <button class="Sign-in">Sign in</button>
        <button class="Download">Download</button>
      </div>
    </header>
    <h2 class="text-spots">SPOTS</h2>
    <div class="spots">
      <% group1.forEach(image => { %>
        <img src="<%= image.productImage %>" alt="Produktbild">
      <% }); %>
    </div>
        <div class="hero">
          <img class="slides" src="images/Fortnite.png" alt="fortnite">
          <img class="slides" src="images/Rocketleague.png" alt="rocketleague">
          <img class="slides" src="images/fallguys.png" alt="fallguys">

          <button class="prev" onclick="changeSlide(-1)"><i class="bi bi-arrow-left-circle"></i></button>
          <button class="next" onclick="changeSlide(1)"><i class="bi bi-arrow-right-circle"></i></button>
        </div>

      <h2 class="new-games-text">NEW GAMES</h2>
      <div class="newgames">
        <% group2.forEach(image => { %>
          <img src="<%= image.productImage %>" alt="Produktbild">
        <% }); %>
      </div>

      <h2 class="ADS-text">ADS</h2>
      <div class="ADS">
        <% group3.forEach(image => { %>
          <img src="<%= image.productImage %>" alt="Produktbild">
        <% }); %>
      </div>

      <h2 class="SALES-text">SALES</h2>
      <div class="SALES">
        <% group4.forEach(image => { %>
          <img src="<%= image.productImage %>" alt="Produktbild">
        <% }); %>
      </div>

      <h2 class="FREE-GAMES-text">FREE GAMES</h2>
      <div class="FREE-GAMES">
        <% group5.forEach(image => { %>
          <img src="<%= image.productImage %>" alt="Produktbild">
        <% }); %>
      </div>

      <h2 class="trending-games-text">TRENDING GAMES</h2>
      <div class="trending-games">
        <% group6.forEach(image => { %>
          <img src="<%= image.productImage %>" alt="Produktbild">
        <% }); %>
      </div>

      <h2 class="new-release-text">NEW RELEASE</h2>
      <div class="new-release">
        <% group7.forEach(image => { %>
          <img src="<%= image.productImage %>" alt="Produktbild">
        <% }); %>
      </div>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <footer>
      <div class="footer-content">
     
        <div class="social-icons">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-twitter"></i>
          <i class="bi bi-youtube"></i>
        </div>
        <h2 class="resources-header">Resources</h2>
        <div class="resources">
          <div class="column">
            <ul>
              <li><a href="#">Support-A-Creator</a></li>
              <li><a href="#">Distribute on Epic Games</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Company</a></li>
            </ul>
          </div>
          <div class="column">
            <ul>
              <li><a href="#">Fan Art Policy</a></li>
              <li><a href="#">UX Research</a></li>
              <li><a href="#">Store EULA</a></li>
            </ul>
          </div>
          <div class="column">
            <ul>
              <li><a href="#">Online Services</a></li>
              <li><a href="#">Community Rules</a></li>
              <li><a href="#">Epic Newsroom</a></li>
            </ul>
          </div>
        </div>
        <h2 class="made-by-header">Made By Epic Games</h2>
        <div class="made-by-games">
          <div class="column">
            <ul>
              <li><a href="#">Battle Breakers</a></li>
              <li><a href="#">Fortnite</a></li>
              <li><a href="#">Infinity Blade</a></li>
            </ul>
          </div>
          <div class="column">
            <ul>
              <li><a href="#">Robo Recall</a></li>
              <li><a href="#">Shadow Complex</a></li>
              <li><a href="#">Unreal Tournament</a></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="footer-bottom">
          <p>© 2025, Epic Games, Inc. All rights reserved. Epic, Epic Games, the Epic Games logo, Fortnite, the Fortnite logo, Unreal, Unreal Engine, the Unreal Engine logo, Unreal Tournament, and the Unreal Tournament logo are trademarks or registered trademarks of Epic Games, Inc. in the United States of America and elsewhere. Other brands or product names are the trademarks of their respective owners.</p>
          <p>Our websites may contain links to other sites and resources provided by third parties. These links are provided for your convenience only. Epic Games has no control over the contents of those sites or resources, and accepts no responsibility for them or for any loss or damage that may arise from your use of them.</p>
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Store Refund Policy</a></li>
            <li><a href="#">Publisher Index</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
  <script src="javascripts/index.js"></script>
</html>
